body {
    
    font-family: cursive;
    font-size: 16px;
    color: beige;
    
}

h3, h4, p {
  text-align: center;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    color: #7858c4b4;
    text-align: center;
  }

  h4 {
    font-family: cursive;
    font-size: 12px;
    color: #7858c4b4;
  }

html {
    background-image: url(images/flower.jpg) ;
  }

#container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

#yashimage {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  
}

#yashimage img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: opacity 0.5s ease-in-out;
}

#yashimage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/yash1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 30px;
}

#container:hover #yashimage::after {
  opacity: 1;
}




#yashimage:hover img {
  opacity: 0;
}



@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#header {
  animation: fadeIn 0.8s ease-in-out;
}

#header1 {
  animation: fadeIn 2s ease-in-out;
}

#header2 {
  animation: fadeIn 3.5s ease-in-out;
}

#paragraph {
  animation: fadeIn 6.5s ease-in-out;
}

#links1 {
  animation: fadeIn 8.5s ease-in-out;
}

#yashimage {
  animation: fadeIn 10.5s ease-in-out;
}



a {
  font-family: cursive;
    font-size: 16px;
    color: #7858c4b4;
    text-decoration: none;
    text-align: center;
    
}

a:link {
  color: #7958c4b4;
}

ul {
  color: #7858c4b4;
}

.links a::before {
  content: '';
  position: absolute;
  
}

.links a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #7858c47c;
  margin: 0 auto;
  transition: text-decoration-color 1s ease, text-decoration-thickness 1s ease;
  
  
}

.links {
  text-align: center;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

nav {
  position: relative;
}

.dropdown {

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(166, 84, 243, 0.425);
  list-style: none;
  padding: 0;
  border-radius: 10px;
}

.dropdown.show {
  max-height: 500px;
  opacity: 1;
}

.dropdown li, h4{
  padding: 5px;
}

.dropdown li a {
  color: rgb(132, 0, 255);
  text-decoration: none;
}

div {
  width: 35px;
  height: 5px;
  background-color: rgba(166, 84, 243, 0.459);
  margin: 6px;
}

.nav1 {
  position: unset;
}

.nav2 li a{
  text-decoration: none;
  list-style: none;
}

