html {
    background-image: url(images/firstpgbg.jpg);
}

body {
    font-family: cursive;
    font-size: 12px;
    color: #7858c4b4;
    text-align: center;
}

#nxtpg {
    background-color: #7858c400;
    color: #7858c4b4;
    margin: auto;
    border-radius: 50px;
    border-color: #7858c400;
    font-family: cursive;
}

#nxtpg:hover {
    animation: fadeIN ease-in-out;
    opacity: 50%;
    transition: 1s;
    background-color: #7858c4b4;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#h11 {
    animation: fadeIn 0.6s ease-in;
}

#h33 {
    animation: fadeIn 0.9s ease-in;
}

#button {
    animation: fadeIn 1.2s ease-in;
}

#h55 {
    animation: fadeIn 1.5s ease-in;
}

nav {
    position: relative;
}

.dropdown {

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(166, 84, 243, 0.425);
    list-style: none;
    padding: 0;
    border-radius: 10px;
}

.dropdown.show {
    max-height: 500px;
    opacity: 1;
}

.dropdown li, h4 {
    padding: 5px;
}

.dropdown li a {
    color: rgb(132, 0, 255);
    text-decoration: none;
}

div {
    width: 35px;
    height: 5px;
    background-color: rgba(166, 84, 243, 0.459);
    margin: 6px;
}

.nav1 {
    position: unset;
}

.nav2 li a{
    text-decoration: none;
    list-style: none;
}