html {
    background-image: url(images/firstpgbg.jpg);
}

body {
    font-family: cursive;
    font-size: 12px;
    color: #7858c4b4;
    text-align: center;
}

#nxtpg {
    background-color: #7858c400;
    color: #7858c4b4;
    margin: auto;
    border-radius: 50px;
    border-color: #7858c400;
}

#nxtpg:hover {
    animation: fadeIN ease-in-out;
    opacity: 50%;
    transition: 1s;
    background-color: #7858c4b4;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#h11 {
    animation: fadeIn 0.6s ease-in;
}

#h33 {
    animation: fadeIn 0.9s ease-in;
}

#button {
    animation: fadeIn 1.2s ease-in;
}

#h55 {
    animation: fadeIn 1.5s ease-in;
}